body {
	display: flex;
	flex-direction: row;
}
.sidebar {
	/* background-image: url(jan-kronies-K-x7h4NXtAY-unsplash.jpg); */
	background-color: red;
	border: 10px solid black;
	width: 300px;
	height: 300px;
}

.rightSide {
	display: flex;
	flex-direction: column;
}

.paragraphTop {
	background-color: green;
	border: solid 10px black;
	width: 100px;
	height: 100px;
}

.dataEntry {
	background-color: pink;
	border: solid 10px black;
	width: 100px;
	height: 100px;
}

.footerButtons {
	background-color: gold;
	border: solid 10px black;
	width: 100px;
	height: 100px;
}
